/* Denote special text */
.error { color: red; }

.admin { 
    color: darkgreen;
    font-weight: bolder;
}

.vip {
    color: #50c878;
    font-weight: bolder;
}

/* navigation bar */
.topnav {
    background-color: darkolivegreen;
    overflow: hidden;
}

.topnav a { /* This refers to the a elements found inside .topnav */
    float: left;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none ;
    font-size: 15px;
} 

.topnav a:hover {
    background-color: white ;
    color: black;
}

.topnav a.split {
    float: right;
    background-color: darkgreen;
    color: white;
}
.topnav a.split:hover {
    background-color: white;
    color: black;
}

/* Base text styling */
h1 {color: darkgreen;}