{% extends 'base.html' %}

{% block content %}

<h1> This is the admin page. If you aren't an admin, get outta here! </h1>

<br>

<table class = "table table=striped" border = "2">
    <tr>
        <th>UserID</th>
        <th>Username</th>
        <th>password</th>
        <th>Administrator</th>
        <th>Remove User</th>
    </tr>
    {% for user in users %} <!-- What is going on here? Fix -->
    <tr>
        <td>{{ user.UserId }}</td>
        <td>{{ user.UserName }}</td>
        <td>{{ user.Password }}</td> <!-- To be removed: System for only users to see their password? -->
        <td>{{ user.Is_Admin }}</td>
        <td>
            <adminDelete>
                <form method = "POST" action = "{{ url_for('admin_deleteUser', id = user.UserId) }}">
                    <input name = "UserId" type = "hidden" value = "{{ user.UserId }}"> {# What does this line do? #}
                    <button type = "submit"> Delete User </button>
                </form>           
            </adminDelete>
        </td>
    </tr>
    {% endfor %}
</table>



{% endblock %}