{% extends 'base.html' %}

{% block content %}

<h1> This is the admin page. If you aren't an admin, get outta here! </h1>

<br>

<table class = "table table=striped" border = "2">
    <tr>
        <th>UserID</th>
        <th>Username</th>
        <th>password</th>
        <th>Administrator</th>
    </tr>
    {% for user in users %} <!-- What is going on here? Fix -->
    <tr>
        <td>{{ user.UserId }}</td>
        <td>{{ user.UserName }}</td>
        <td>{{ user.Password }}</td>
        <td>{{ user.Is_Admin }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}