<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tome Blog</title>
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename = 'style.css')}}">
</head>
<body>
    

    <header class="topnav">
        
        <!-- Everyone gets these  -->        
        <a href = "{{ url_for('home') }}">Home</a>
        <a href = "{{url_for('home_blogs') }}"> Tome Blogs </a>
        
        
        <a href = "{{ url_for('home_profile') }}" class = "split"> Profile </a>
        <!-- Everyone who is signed in gets these -->
        {% if current_user.is_authenticated %}

            <a href = "{{ url_for('logout') }}" class = "split"> Log out</a>

            <!-- Only Admin users can access these -->
            {% if current_user.Is_Admin %}
                 
                <a href = "{{  url_for('home_createBlog') }}"> Start New Topic </a> {# May need to move this into the ADMIN ONLY section #}
                <a href = " {{ url_for('admin') }}"> Admin View </a>

            {% endif %} 

        {% else %}

            <a href = "{{ url_for('login') }}" class = "split"> Log in </a>
            <a href = "{{ url_for('signup') }}"class = "split"> Sign up </a>

        {% endif %}
        
    </header>

    <hr>

    {# Flash messages across all base.html extensions #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div style="background: rgba(199, 97, 1, 0.938); padding: 15px;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block content %} {% endblock %}

    {# <footer>
        <p> Ezekiel M. Her <br> Copyright 2025 | Powered by Flask </p>
    </footer> #}

</body>
</html>