{% extends 'base.html' %}

{% block content %}

<h1> All Tome blogs! See others' thoughts on their Tomes! </h1>

{% for blog in blogs %}
<section>

    <hr>

    <h1>
        <form method = "POST" action = " {{ url_for('home_selectBlogs', id = blog.BlogId) }}"></form> 
            <input name = "BlogId" type = "hidden" value = "{{ blog.BlogId }}"> 
            <a href = "{{ url_for('home_selectBlogs', id = blog.BlogId) }}"> {{ blog.BlogTitle }} </a>       
        </form>

    </h1>

    <p> Tome Topic by: <strong> {{ blog.BlogAuthor }} </strong> </p> {# Admins have different coloring #}
    <p> Book: {{ blog.Book }} </p>
    <p> Book Author: {{ blog.BookAuthor if blog.BookAuthor else "No Author provided."}} </p>
    <p> {{ blog.InitialComment }} </p> 
    <p> Posted at: {{ blog.PostTime.strftime('%B %d, %Y at %I:%M %p')  }}  </p> 

</section>

{% else %}

    <p> There aren't any Tomes up yet. The admins aren't doing their job! </p>

{% endfor %} 

{% endblock %}