{% extends 'base.html' %}

{% block content %}

<h1> All Tome blogs! See others' thoughts on their Tomes! </h1>

{% for blog in blogs %}
<section>

    <hr>

    <h1>
        <form method = "POST" action = " {{ url_for('home_selectBlogs', id = blog.BlogId) }}"></form> {# Line may not be needed #}
            <input name = "BlogId" type = "hidden" value = "{{ blog.BlogId }}"> {# Line may not be needed #}
            <a href = "{{ url_for('home_selectBlogs', id = blog.BlogId) }}"> {{ blog.BlogTitle }} </a>       
        </form>

    </h1>

    <p> Tome Topic by: <strong> {{ blog.BlogAuthor }} </strong> </p> <!-- Admin users should have differing coloring -->
    <p> Book: {{ blog.Book }} </p>
    <p> Book Author: {{ blog.BookAuthor if blog.BookAuthor else "No Author provided."}} </p>
    <p> {{ blog.InitialComment }} </p> <!-- To hold its place, view on link click -->
    <p> Posted at: {{ blog.PostTime }}  </p> <!-- Find a way to get rid of floats for time-->

</section>

{% else %}

    <p> There aren't any Tomes up yet. The admins aren't doing their job! </p>

{% endfor %} 

{% endblock %}