{% extends 'base.html' %}

{% block content %}

{% if current_user.is_anonymous %}

    <h2>Hi there!</h2>

{% elif current_user.Is_Admin %}

    <h2>Hi there <span class = "admin"> {{ current_user.UserName }} </span> !</h2>

{% else %}

    <h2>Hi there {{ current_user.UserName }}!</h2>

{% endif %}

<h1> This blog is up and working. </h1>

{# 
{% for blog in blog %}
<section>
    <h1>
    {{ blog.BlogTitle }}
    </h1>
    <p> <strong> {{ blog.BlogAuthor }} </strong> </p>
    <p> {{ blog.InitalComment }} </p>
    <p> Posted at: {{ blog.PostTime }}  </p>

    -- Put a comment here

</section>
{% endfor %} 
#}

{% endblock %}