{% extends 'base.html' %}

{% block content %}

{% if current_user.is_anonymous %}

    <h2>Hi there!</h2>

{% elif current_user.Is_Admin %}

    <h2>Hi there <span class = "admin"> {{ current_user.UserName }} </span> !</h2>

{% else %}

    <h2>Hi there {{ current_user.UserName }}!</h2>

{% endif %}

<h1> Welcome to Tome Blog! </h1>
<small> Created By: Zeke M. Her</small>
<p> 
    This blog site serves as a place to see others' thoughts on different stories as told through the pages of a book. Read and discuss 
    the themes, content, and personal thoughts on any posted book!
    <br>
    If you wish to post, please contact the site owner at exampleMail@example.com.
</p>

{% endblock %}