<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    
    <h1>Sign up for Tome Blog</h1>
    <a href = "{{ url_for('home') }}"> Browse as Guest. </a>

    {# {% if error %}
        <p class = "error"> {{ *insert name of error* }} </p>
    {% endif %} #}


    <form action="" method="POST">

        <div>
            <label for = "UserName"> Username : </label>
            <input type="text" name="UserName" id = "UserName" required>
        </div>
        <div>
            <label for = "Password"> Password : </label>
            <input type = "password" name = "Password" id = "Password" required>
        </div>
        <div>
            <label for = "Password"> Re-enter Password : </label>
            <input type = "password" name = "Password" id = "Password" required>
        </div>
    

        <div>
            <button type = "submit"> Sign up </button>
        </div>

        <div>
            <p>Already a member? </p> <a href = "{{ url_for('login') }}"> Log in </a> {# Figure out how to get on the same line later #}
        </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div style="background: rgba(199, 97, 1, 0.938); padding: 15px;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    </form>

</body>
</html>