<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tome Blog Signup</title>
</head>
<body align = "center";>
    
    <h1>Sign up for Tome Blog</h1>
    <a href = "{{ url_for('home') }}"> Browse as Guest. </a>

    {% if signUpError %}
        <p class = "error"> {{ signUpError }} </p>
    {% endif %}


    <form action="" method="POST">

        <div>
            <label for = "UserName"> Username : </label>
            <input type="text" name="UserName" id = "UserName" required>
        </div>
        <div>
            <label for = "Password"> Password : </label>
            <input type = "password" name = "Password" id = "Password" required>
        </div>
        <div>
            <label for = "Password"> Re-enter Password : </label>
            <input type = "password" name = "confirmPassword" id = "Password" required>
        </div>
    

        <div>
            <button type = "submit"> Sign up </button>
        </div>

        <div>
            <p>Already a member? </p> <a href = "{{ url_for('login') }}"> Log in </a> 
        </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert" style="position: relative; background: rgba(199, 97, 1, 0.938); padding: 15px; margin-bottom: 10px; color: black;">
                    {{ message }}
                    <button type="button" 
                            onclick="this.parentElement.remove()" 
                            style="position: absolute; top: 10px; right: 10px; background: none; border: none; font-size: 20px; cursor: pointer; color: black;">
                        &times;
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<script> //Close the message after 5 seconds.

setTimeout(function() {

    const alerts = document.querySelectorAll('.alert');

    alerts.forEach(alert => {
        alert.style.transition = 'opacity 0.5s';
        alert.style.opacity = '0';
        setTimeout(() => alert.remove(), 500);

    });

}, 5000);

</script>
    
    </form>

</body>
</html>